Mage 2 2
XXIXX
XIXIX
IXCXI
XIXIX
XXIXX
Paladin 3 3
IIIII
IIXII
XXCXX
IIXII
IIIII
Paladin 3 3
IIIII
IIXII
XXCXX
IIXII
IIIII
Paladin 3 3
IIIII
IIXII
XXCXX
IIXII
IIIII
Paladin 3 3
IIIII
IIXII
XXCXX
IIXII
IIIII
Paladin 3 3
IIIII
IIXII
XXCXX
IIXII
IIIII
Paladin 3 3
IIIII
IIXII
XXCXX
IIXII
IIIII
Queen 2 4
XXXXX
XXXXX
XXCXX
XXXXX
XXXXX
Queen 2 4
XXXXX
XXXXX
XXCXX
XXXXX
XXXXX
Queen 2 4
XXXXX
XXXXX
XXCXX
XXXXX
XXXXX
Queen 2 4
XXXXX
XXXXX
XXCXX
XXXXX
XXXXX
Queen 2 4
XXXXX
XXXXX
XXCXX
XXXXX
XXXXX
Queen 2 4
XXXXX
XXXXX
XXCXX
XXXXX
XXXXX
Recruit 1 1
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX
Recruit 1 1
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX
Recruit 1 1
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX
Recruit 1 1
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX
Recruit 1 1
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX
Recruit 1 1
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX
Recruit 1 1
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX
Recruit 1 1
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX
Recruit 1 1
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX
Recruit 1 1
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX
Recruit 1 1
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX
Recruit 1 1
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX
Recruit 1 1
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX
Rogue 1 1
XXXXX
XXXXX
XXCIX
XXXXX
XXXXX
Rogue 1 1
XXXXX
XXXXX
XXCIX
XXXXX
XXXXX
Rogue 1 1
XXXXX
XXXXX
XXCIX
XXXXX
XXXXX
Rogue 1 1
XXXXX
XXXXX
XXCIX
XXXXX
XXXXX
Rogue 1 1
XXXXX
XXXXX
XXCIX
XXXXX
XXXXX
Rogue 1 1
XXXXX
XXXXX
XXCIX
XXXXX
XXXXX
Security 1 2
XXXXX
XXIXX
XICIX
XXIXX
XXXXX
Security 1 2
XXXXX
XXIXX
XICIX
XXIXX
XXXXX
Security 1 2
XXXXX
XXIXX
XICIX
XXIXX
XXXXX
Security 1 2
XXXXX
XXIXX
XICIX
XXIXX
XXXXX
Security 1 2
XXXXX
XXIXX
XICIX
XXIXX
XXXXX
Security 1 2
XXXXX
XXIXX
XICIX
XXIXX
XXXXX