Security 1 2
XXXXX
XXIXX
XICIX
XXIXX
XXXXX
Bee 1 1
XXIXX
XXXXI
XXCXX
XXXXX
XXIXX
Guard 2 1
XXXXX
XXIXX
XICIX
XXIXX
XXXXX
Lookout 2 2
XXXXX
XXIXX
XICIX
XXIXX
XXXXX
Saboteur 2 1
XXIXX
XIXIX
XXCXX
XIIXX
XXXXX
Wall 3 1
IIIII
IXXXI
IXCXI
IXXXI
IIIII
Assassin 2 1
XIIXX
XXXXX
XXCIX
XXXXX
XXIXX
Swordsman 3 2
XXXXX
XIXIX
XXCXX
XIXIX
XXXXX
Knight 1 1
XXXXX
XXIXX
XXCXX
XXIXX
XXXXX
Ranger 1 1
IXXXI
XXXXX
XXCXX
XXXXX
IXXXI
Archer 1 2
XXXXX
XIXIX
XXCXX
XIXIX
XXXXX