Bee 1 1
XXIXX
XXXXX
XXCXX
XXXXX
XXIXX
Guard 2 1
XXXXX
XXIXX
XXCIX
XXIXX
XXXXX
Lookout 2 2
XXXXX
XXXXX
XXCXI
XXXXX
XXXXX
Shield 2 1
XXXXX
XXIIX
XXCIX
XXIIX
XXXXX
Wall 3 1
IIIII
IXXXI
IXCXI
IXXXI
IIIII
Assassin 1 1
XXXXI
XXXXX
XXCXI
XXXXX
XXXXI
Security 1 2
XXXXX
XXIXX
XICIX
XXIXX
XXXXX
Swordsman 3 2
XXXXI
XXXIX
XXCXX
XXXXX
XXXXX
Knight 1 1
XXXXX
XXXXX
XXCIX
XXXXX
XXXXX
Queen 2 4
XXXXX
XXXXX
XXCXX
XXXXX
XXXXX