Assassin 1 1
XXXXI
XXXXX
XXCXI
XXXXX
XXXXI
Assassin 1 1
XXXXI
XXXXX
XXCXI
XXXXX
XXXXI
Assassin 1 1
XXXXI
XXXXX
XXCXI
XXXXX
XXXXI
Assassin 1 1
XXXXI
XXXXX
XXCXI
XXXXX
XXXXI
Assassin 1 1
XXXXI
XXXXX
XXCXI
XXXXX
XXXXI
Assassin 1 1
XXXXI
XXXXX
XXCXI
XXXXX
XXXXI
Assassin 1 1
XXXXI
XXXXX
XXCXI
XXXXX
XXXXI
Assassin 1 1
XXXXI
XXXXX
XXCXI
XXXXX
XXXXI
Assassin 1 1
XXXXI
XXXXX
XXCXI
XXXXX
XXXXI
Assassin 1 1
XXXXI
XXXXX
XXCXI
XXXXX
XXXXI
Assassin 1 1
XXXXI
XXXXX
XXCXI
XXXXX
XXXXI
Archer 2 2
XXXXX
XIIXX
XXCXX
XIIXX
XXXXX
Archer 2 2
XXXXX
XIIXX
XXCXX
XIIXX
XXXXX
Archer 2 2
XXXXX
XIIXX
XXCXX
XIIXX
XXXXX
Archer 2 2
XXXXX
XIIXX
XXCXX
XIIXX
XXXXX
Archer 2 2
XXXXX
XIIXX
XXCXX
XIIXX
XXXXX
Bee 1 1
XXIXX
XXXXX
XXCXX
XXXXX
XXIXX
Bee 1 1
XXIXX
XXXXX
XXCXX
XXXXX
XXIXX
Bee 1 1
XXIXX
XXXXX
XXCXX
XXXXX
XXIXX
Bee 1 1
XXIXX
XXXXX
XXCXX
XXXXX
XXIXX
Bee 1 1
XXIXX
XXXXX
XXCXX
XXXXX
XXIXX
Bee 1 1
XXIXX
XXXXX
XXCXX
XXXXX
XXIXX
Berserker 3 2
IIIII
XIIIX
XXCXX
XIIIX
IIIII
Berserker 3 2
IIIII
XIIIX
XXCXX
XIIIX
IIIII
Guard 2 1
XXXXX
XXIXX
XXCIX
XXIXX
XXXXX
Guard 2 1
XXXXX
XXIXX
XXCIX
XXIXX
XXXXX
Guard 2 1
XXXXX
XXIXX
XXCIX
XXIXX
XXXXX
Guard 2 1
XXXXX
XXIXX
XXCIX
XXIXX
XXXXX
Guard 2 1
XXXXX
XXIXX
XXCIX
XXIXX
XXXXX
Guard 2 1
XXXXX
XXIXX
XXCIX
XXIXX
XXXXX
Guard 2 1
XXXXX
XXIXX
XXCIX
XXIXX
XXXXX
Healer 1 2
XXXXX
XIIIX
XXCXX
XIIIX
XXXXX
Healer 1 2
XXXXX
XIIIX
XXCXX
XIIIX
XXXXX

Healer 1 2
XXXXX
XIIIX
XXCXX
XIIIX
XXXXX

Healer 1 2
XXXXX
XIIIX
XXCXX
XIIIX
XXXXX

Healer 1 2
XXXXX
XIIIX
XXCXX
XIIIX
XXXXX

Healer 1 2
XXXXX
XIIIX
XXCXX
XIIIX
XXXXX

Knight 1 1
XXXXX
XXXXX
XXCIX
XXXXX
XXXXX

Knight 1 1
XXXXX
XXXXX
XXCIX
XXXXX
XXXXX

Knight 1 1
XXXXX
XXXXX
XXCIX
XXXXX
XXXXX

Knight 1 1
XXXXX
XXXXX
XXCIX
XXXXX
XXXXX

Knight 1 1
XXXXX
XXXXX
XXCIX
XXXXX
XXXXX

Knight 1 1
XXXXX
XXXXX
XXCIX
XXXXX
XXXXX

Lookout 2 2
XXXXX
XXXXX
XXCXI
XXXXX
XXXXX

Lookout 2 2
XXXXX
XXXXX
XXCXI
XXXXX
XXXXX

Lookout 2 2
XXXXX
XXXXX
XXCXI
XXXXX
XXXXX

Lookout 2 2
XXXXX
XXXXX
XXCXI
XXXXX
XXXXX

Lookout 2 2
XXXXX
XXXXX
XXCXI
XXXXX
XXXXX

Lookout 2 2
XXXXX
XXXXX
XXCXI
XXXXX
XXXXX

Mage 2 2
XXIXX
XIXIX
IXCXI
XIXIX
XXIXX

Mage 2 2
XXIXX
XIXIX
IXCXI
XIXIX
XXIXX

Mage 2 2
XXIXX
XIXIX
IXCXI
XIXIX
XXIXX

Mage 2 2
XXIXX
XIXIX
IXCXI
XIXIX
XXIXX

Mage 2 2
XXIXX
XIXIX
IXCXI
XIXIX
XXIXX

Mage 2 2
XXIXX
XIXIX
IXCXI
XIXIX
XXIXX

Paladin 3 3
IIIII
IIXII
XXCXX
IIXII
IIIII

Paladin 3 3
IIIII
IIXII
XXCXX
IIXII
IIIII

Paladin 3 3
IIIII
IIXII
XXCXX
IIXII
IIIII

Paladin 3 3
IIIII
IIXII
XXCXX
IIXII
IIIII

Paladin 3 3
IIIII
IIXII
XXCXX
IIXII
IIIII

Paladin 3 3
IIIII
IIXII
XXCXX
IIXII
IIIII

Queen 2 4
XXXXX
XXXXX
XXCXX
XXXXX
XXXXX

Queen 2 4
XXXXX
XXXXX
XXCXX
XXXXX
XXXXX

Queen 2 4
XXXXX
XXXXX
XXCXX
XXXXX
XXXXX

Queen 2 4
XXXXX
XXXXX
XXCXX
XXXXX
XXXXX

Queen 2 4
XXXXX
XXXXX
XXCXX
XXXXX
XXXXX

Queen 2 4
XXXXX
XXXXX
XXCXX
XXXXX
XXXXX

Recruit 1 1
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX

Recruit 1 1
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX

Recruit 1 1
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX

Recruit 1 1
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX

Recruit 1 1
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX

Recruit 1 1
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX

Recruit 1 1
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX

Recruit 1 1
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX

Recruit 1 1
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX

Recruit 1 1
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX

Recruit 1 1
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX

Recruit 1 1
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX

Recruit 1 1
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX

Rogue 1 1
XXXXX
XXXXX
XXCIX
XXXXX
XXXXX

Rogue 1 1
XXXXX
XXXXX
XXCIX
XXXXX
XXXXX

Rogue 1 1
XXXXX
XXXXX
XXCIX
XXXXX
XXXXX

Rogue 1 1
XXXXX
XXXXX
XXCIX
XXXXX
XXXXX

Rogue 1 1
XXXXX
XXXXX
XXCIX
XXXXX
XXXXX

Rogue 1 1
XXXXX
XXXXX
XXCIX
XXXXX
XXXXX

Security 1 2
XXXXX
XXIXX
XICIX
XXIXX
XXXXX

Security 1 2
XXXXX
XXIXX
XICIX
XXIXX
XXXXX

Security 1 2
XXXXX
XXIXX
XICIX
XXIXX
XXXXX

Security 1 2
XXXXX
XXIXX
XICIX
XXIXX
XXXXX

Security 1 2
XXXXX
XXIXX
XICIX
XXIXX
XXXXX

Security 1 2
XXXXX
XXIXX
XICIX
XXIXX
XXXXX
Shield 2 1
XXXXX
XXIIX
XXCIX
XXIIX
XXXXX
Shield 2 1
XXXXX
XXIIX
XXCIX
XXIIX
XXXXX
Shield 2 1
XXXXX
XXIIX
XXCIX
XXIIX
XXXXX
Shield 2 1
XXXXX
XXIIX
XXCIX
XXIIX
XXXXX
Sorcerer 2 2
XIIXX
IXXXI
XXCXX
IXXXI
XIIXX
Sorcerer 2 2
XIIXX
IXXXI
XXCXX
IXXXI
XIIXX
Sorcerer 2 2
XIIXX
IXXXI
XXCXX
IXXXI
XIIXX
Wall 3 1
IIIII
IXXXI
IXCXI
IXXXI
IIIII

Wall 3 1
IIIII
IXXXI
IXCXI
IXXXI
IIIII

Wall 3 1
IIIII
IXXXI
IXCXI
IXXXI
IIIII

Wall 3 1
IIIII
IXXXI
IXCXI
IXXXI
IIIII
Wall 3 1
IIIII
IXXXI
IXCXI
IXXXI
IIIII
Wall 3 1
IIIII
IXXXI
IXCXI
IXXXI
IIIII
Wall 3 1
IIIII
IXXXI
IXCXI
IXXXI
IIIII
Wizard 2 1
XXIII
XIIII
IICII
XIIII
XXIII
Wizard 2 1
XXIII
XIIII
IICII
XIIII
XXIII
Wizard 2 1
XXIII
XIIII
IICII
XIIII
XXIII

