Mage 2 2
XXIXX
XIXIX
IXCXI
XIXIX
XXIXX
Paladin 3 3
IIIII
IUXII
XXCXX
IIXDI
IIIII
Paladin 3 3
IIIII
IUXII
XXCXX
IIXDI
IIIII
Paladin 3 3
IIIII
IUXII
XXCXX
IIXDI
IIIII
Paladin 3 3
IIIII
IUXII
XXCXX
IIXDI
IIIII
Paladin 3 3
IIIII
IUXII
XXCXX
IIXDI
IIIII
Paladin 3 3
IIIII
IUXII
XXCXX
IIXDI
IIIII
Queen 2 4
XXXXX
XXUXX
XXCXX
XXDXX
XXXXX
Queen 2 4
XXXXX
XXUXX
XXCXX
XXDXX
XXXXX
Queen 2 4
XXXXX
XXUXX
XXCXX
XXDXX
XXXXX
Queen 2 4
XXXXX
XXUXX
XXCXX
XXDXX
XXXXX
Queen 2 4
XXXXX
XXUXX
XXCXX
XXDXX
XXXXX
Queen 2 4
XXXXX
XXUXX
XXCXX
XXDXX
XXXXX
Recruit 1 1
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX
Recruit 1 1
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX
Recruit 1 1
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX
Recruit 1 1
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX
Recruit 1 1
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX
Recruit 1 1
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX
Recruit 1 1
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX
Recruit 1 1
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX
Recruit 1 1
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX
Recruit 1 1
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX
Recruit 1 1
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX
Recruit 1 1
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX
Recruit 1 1
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX
Rogue 1 1
XXXXX
XXXXX
XXCUX
XXXXX
XXXXX
Rogue 1 1
XXXXX
XXXXX
XXCUX
XXXXX
XXXXX
Rogue 1 1
XXXXX
XXXXX
XXCUX
XXXXX
XXXXX
Rogue 1 1
XXXXX
XXXXX
XXCUX
XXXXX
XXXXX
Rogue 1 1
XXXXX
XXXXX
XXCUX
XXXXX
XXXXX
Rogue 1 1
XXXXX
XXXXX
XXCUX
XXXXX
XXXXX
Security 1 2
XXXXX
XXUXX
XICIX
XXDXX
XXXXX
Security 1 2
XXXXX
XXUXX
XICIX
XXDXX
XXXXX
Security 1 2
XXXXX
XXUXX
XICIX
XXDXX
XXXXX
Security 1 2
XXXXX
XXUXX
XICIX
XXDXX
XXXXX
Security 1 2
XXXXX
XXUXX
XICIX
XXDXX
XXXXX
Security 1 2
XXXXX
XXUXX
XICIX
XXDXX
XXXXX