Assassin 1 1
XXXXI
XXXUX
XXCUI
XXXUX
XXXXI
Assassin 1 1
XXXXI
XXXUX
XXCUI
XXXUX
XXXXI
Assassin 1 1
XXXXI
XXXUX
XXCUI
XXXUX
XXXXI
Assassin 1 1
XXXXI
XXXUX
XXCUI
XXXUX
XXXXI
Assassin 1 1
XXXXI
XXXUX
XXCUI
XXXUX
XXXXI
Assassin 1 1
XXXXI
XXXUX
XXCUI
XXXUX
XXXXI
Assassin 1 1
XXXXI
XXXUX
XXCUI
XXXUX
XXXXI
Assassin 1 1
XXXXI
XXXUX
XXCUI
XXXUX
XXXXI
Assassin 1 1
XXXXI
XXXUX
XXCUI
XXXUX
XXXXI
Assassin 1 1
XXXXI
XXXUX
XXCUI
XXXUX
XXXXI
Assassin 1 1
XXXXI
XXXUX
XXCUI
XXXUX
XXXXI
Archer 2 2
XXXXX
XIIXX
XXCXX
XIIXX
XXXXX
Archer 2 2
XXXXX
XIIXX
XXCXX
XIIXX
XXXXX
Archer 2 2
XXXXX
XIIXX
XXCXX
XIIXX
XXXXX
Archer 2 2
XXXXX
XIIXX
XXCXX
XIIXX
XXXXX
Archer 2 2
XXXXX
XIIXX
XXCXX
XIIXX
XXXXX
Bee 1 1
XXIXX
XXXXX
XXCXX
XXXXX
XXIXX
Bee 1 1
XXIXX
XXXXX
XXCXX
XXXXX
XXIXX
Bee 1 1
XXIXX
XXXXX
XXCXX
XXXXX
XXIXX
Bee 1 1
XXIXX
XXXXX
XXCXX
XXXXX
XXIXX
Bee 1 1
XXIXX
XXXXX
XXCXX
XXXXX
XXIXX
Bee 1 1
XXIXX
XXXXX
XXCXX
XXXXX
XXIXX
Berserker 3 2
IIIII
XIIIX
XXCXX
XIIIX
IIIII
Berserker 3 2
IIIII
XIIIX
XXCXX
XIIIX
IIIII
Guard 2 1
XXXXX
XXIXX
XXCIX
XXIXX
XXXXX
Guard 2 1
XXXXX
XXIXX
XXCIX
XXIXX
XXXXX
Guard 2 1
XXXXX
XXIXX
XXCIX
XXIXX
XXXXX
Guard 2 1
XXXXX
XXIXX
XXCIX
XXIXX
XXXXX
Guard 2 1
XXXXX
XXIXX
XXCIX
XXIXX
XXXXX
Guard 2 1
XXXXX
XXIXX
XXCIX
XXIXX
XXXXX
Guard 2 1
XXXXX
XXIXX
XXCIX
XXIXX
XXXXX
Healer 1 2
XXXXX
XIIIX
XXCXX
XIIIX
XXXXX
Healer 1 2
XXXXX
XIIIX
XXCXX
XIIIX
XXXXX

Healer 1 2
XXXXX
XIIIX
XXCXX
XIIIX
XXXXX

Healer 1 2
XXXXX
XIIIX
XXCXX
XIIIX
XXXXX

Healer 1 2
XXXXX
XIIIX
XXCXX
XIIIX
XXXXX

Healer 1 2
XXXXX
XIIIX
XXCXX
XIIIX
XXXXX

Knight 1 1
XXXXX
XXXXX
XXCIX
XXXXX
XXXXX

Knight 1 1
XXXXX
XXXXX
XXCIX
XXXXX
XXXXX

Knight 1 1
XXXXX
XXXXX
XXCIX
XXXXX
XXXXX