Assassin 1 1
XXXXI
XXXUX
XXCUI
XXXUX
XXXXI
Assassin 1 1
XXXXI
XXXUX
XXCUI
XXXUX
XXXXI
Assassin 1 1
XXXXI
XXXUX
XXCUI
XXXUX
XXXXI
Assassin 1 1
XXXXI
XXXUX
XXCUI
XXXUX
XXXXI
Assassin 1 1
XXXXI
XXXUX
XXCUI
XXXUX
XXXXI
Assassin 1 1
XXXXI
XXXUX
XXCUI
XXXUX
XXXXI
Assassin 1 1
XXXXI
XXXUX
XXCUI
XXXUX
XXXXI
Assassin 1 1
XXXXI
XXXUX
XXCUI
XXXUX
XXXXI
Assassin 1 1
XXXXI
XXXUX
XXCUI
XXXUX
XXXXI
Assassin 1 1
XXXXI
XXXUX
XXCUI
XXXUX
XXXXI
Assassin 1 1
XXXXI
XXXUX
XXCUI
XXXUX
XXXXI
Archer 2 2
XXXXX
XIUXX
XXCXX
XIDXX
XXXXX
Archer 2 2
XXXXX
XIUXX
XXCXX
XIDXX
XXXXX
Archer 2 2
XXXXX
XIUXX
XXCXX
XIDXX
XXXXX
Archer 2 2
XXXXX
XIUXX
XXCXX
XIDXX
XXXXX
Archer 2 2
XXXXX
XIUXX
XXCXX
XIDXX
XXXXX
Bee 1 1
XXIXX
XXXXX
XXCXX
XXXXX
XXIXX
Bee 1 1
XXIXX
XXXXX
XXCXX
XXXXX
XXIXX
Bee 1 1
XXIXX
XXXXX
XXCXX
XXXXX
XXIXX
Bee 1 1
XXIXX
XXXXX
XXCXX
XXXXX
XXIXX
Bee 1 1
XXIXX
XXXXX
XXCXX
XXXXX
XXIXX
Bee 1 1
XXIXX
XXXXX
XXCXX
XXXXX
XXIXX
Berserker 3 2
IIIII
XIUIX
XXCXX
XIDIX
IIIII
Berserker 3 2
IIIII
XIUIX
XXCXX
XIDIX
IIIII
Guard 2 1
XXXXX
XXIXX
XXCIX
XXIXX
XXXXX
Guard 2 1
XXXXX
XXIXX
XXCIX
XXIXX
XXXXX
Guard 2 1
XXXXX
XXIXX
XXCIX
XXIXX
XXXXX
Guard 2 1
XXXXX
XXIXX
XXCIX
XXIXX
XXXXX
Guard 2 1
XXXXX
XXIXX
XXCIX
XXIXX
XXXXX
Guard 2 1
XXXXX
XXIXX
XXCIX
XXIXX
XXXXX
Guard 2 1
XXXXX
XXIXX
XXCIX
XXIXX
XXXXX
Healer 1 2
XXXXX
XIUIX
XXCXX
XIDIX
XXXXX
Healer 1 2
XXXXX
XIUIX
XXCXX
XIDIX
XXXXX
Healer 1 2
XXXXX
XIUIX
XXCXX
XIDIX
XXXXX
Healer 1 2
XXXXX
XIUIX
XXCXX
XIDIX
XXXXX
Healer 1 2
XXXXX
XIUIX
XXCXX
XIDIX
XXXXX
Healer 1 2
XXXXX
XIUIX
XXCXX
XIDIX
XXXXX
Knight 1 1
XXXXX
XXXXX
XXCIX
XXDXX
XXXXX
Knight 1 1
XXXXX
XXXXX
XXCIX
XXDXX
XXXXX
Knight 1 1
XXXXX
XXXXX
XXCIX
XXDXX
XXXXX